

.perfil{
    display: flex;
    justify-content: center;
}

h1, p, li, h3, h4{
    font-family: 'Roboto', sans-serif;
}

header i{
    font-size: 20px;
    margin-left:  18px;
    align-self: center;
}

aside{
    width: 350px;
    height: 1000px;
    background-color: aquamarine;
    color: aliceblue;
    float: left;
    text-align: center;
}

aside p, li{
    margin-top: 10px;
    margin-bottom: 10px;
}

#transparencia{
    color: grey;
}

section i{
    font-size: 20px;
    margin: 0 18px;
    align-self: center;
}

.p-personales{
    justify-self:  left;
}

section h3{
    background-color: aquamarine;
}
